<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="container-xl px-4 mt-4">
      <hr class="mt-0 mb-4">
      <div class="row">
          <div class="col-xl-4">
            <div class="row-1" style="margin: 0 0 30px 0;">
              <div class="card mb-4 mb-xl-0">
                  <div class="card-header">Profile Picture</div>
                  <div class="card-body text-center">
                        <%= image_tag(resource.avatar_thumbnail, class: "img-account-profile rounded-circle mb-2") if resource.avatar.attached? %>
                      <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                      <div class="field">
                        <%= f.label :avatar, "Upload new image", class: "small mb-1" %><br />
                        <%= f.file_field :avatar, class: "btn btn-primary"%>
                      </div>
                  </div>
              </div>
            </div>
            <div class="row-1">
            <div class="card mb-4 mb-xl-0">
                  <div class="card-header">Sign up with</div>
                  <div class="card-body text-center">
                      <%= render "devise/shared/links" %>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-xl-8">
              <!-- Account details card-->
              <div class="card mb-4">
                  <div class="card-header">Sign Up</div>
                  <div class="card-body">
                          <div class="row gx-3 mb-3">
                              <div class="col-md-12">
                                <div class="field">
                                  <%= f.label :full_name, class: "small mb-1" %><br />
                                  <%= f.text_field :full_name, autofocus: true, class: "form-control", placeholder: "Enter your first name"%>
                                </div>
                              </div>
                          </div>
                            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                            <% end %>
                          <!-- Form Row        -->
                          <div class="row gx-3 mb-3">
                              <!-- Form Group (organization name)-->
                              <div class="col-md-6">
                                  <%= f.label :email, "Email", class: "small mb-1" %> <br />
                                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>                                  
                              </div>
                          </div>
                          <div class="row gx-3 mb-3">
                            <div class="col-md-6">                          
                                <%= f.label :password, class:"small mb-1" %> <br />
                                <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "leave blank if you don't want to change it" %>
                                  <% if @minimum_password_length %>
                                    <br />
                                    <em><%= @minimum_password_length %> characters minimum</em>
                                  <% end %>
                            </div>
                          </div>
                          <div class="row gx-3 mb-3">
                              <div class="col-md-12">
                                <div class="field">
                                  <%= f.label :password_confirmation, class: "small mb-1" %><br />
                                  <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
                                </div>
                              </div>
                          </div>
                          <div class="row gx-3 mb-3">
                              <div class="col-md-10">
                                <%= f.submit "Save changes", class: "btn btn-primary btn-lg", data: {turbo: false} %>
                              </div>
                          </div>                            
                  </div>
              </div>
          </div>
      </div>
  </div>
<% end %>
