<script type="text/javascript">
ymaps.ready(init);

var MyMap;

function init() {
	myMap = new ymaps.Map('ymap', {
		center: [55.76, 37.64],
		zoom: 10
    });

	myMap.controls.remove('geolocationControl');
	myMap.controls.remove('searchControl');
	myMap.controls.remove('trafficControl');
	myMap.controls.remove('typeSelector');
	myMap.controls.remove('fullscreenControl'); 
	myMap.controls.remove('rulerControl');
	myMap.controls.remove('miniMap');

	let geolocation = ymaps.geolocation
    

    geolocation.get({
        provider: 'browser',
        mapStateAutoApply: true
    }).then(function (result) {
        result.geoObjects.options.set('preset', 'islands#blueCircleIcon');
		result.geoObjects.get(0).properties.set({
            balloonContentBody: 'Мое местоположение'
        });
		document.getElementById('latitude').value = result.geoObjects.get(0).geometry.getCoordinates()[0];
        document.getElementById('longitude').value = result.geoObjects.get(0).geometry.getCoordinates()[1];
        myMap.geoObjects.add(result.geoObjects);
    });

	myMap.copyrights.add('© Иван Погиба');
}

function show_users(length) {
    for(let i = 0; i < length; i++) {
        latitude = document.getElementById('user-latitude-' + i).textContent;
        longitude = document.getElementById('user-longitude-' + i).textContent;
        email = document.getElementById('user-email-' + i).textContent;
        updated_at = document.getElementById('user-updated_at-' + i).textContent;
        avatar = document.getElementById('user-avatar-' + i);
        id = document.getElementById('user-id-' + i).textContent;
        myPlacemark = new ymaps.Placemark([parseFloat(latitude), parseFloat(longitude)], {
            balloonContentHeader: '<a href = "/user/' + id + '">' + email + '</a><br>' +
            '<span class="description">' + email + '</span>',
            balloonContentBody: avatar.innerHTML + '<br>' +
            '<b>Последний раз заходил в ' + updated_at + '</b> <br/>',
            // hintContent: name
        },
        {
            iconLayout: 'default#image',
            iconImageHref: avatar.getElementsByTagName("img")[0].getAttribute("src"),
            iconImageSize: [40, 40],
            iconImageOffset: [-5, -38]
        }
        );

        myMap.geoObjects.add(myPlacemark);
    }
}

function get_location() {
    let geolocation = ymaps.geolocation

    geolocation.get({
        provider: 'browser',
        mapStateAutoApply: true
    }).then(function (result) {
        result.geoObjects.options.set('preset', 'islands#blueCircleIcon');
		result.geoObjects.get(0).properties.set({
            balloonContentBody: 'Мое местоположение'
        });
        document.getElementById('latitude').value = result.geoObjects.get(0).geometry.getCoordinates()[0];
        document.getElementById('longitude').value = result.geoObjects.get(0).geometry.getCoordinates()[1];
    });
}

</script>
<div class="row">
    <div class="col-10" style="margin: 0; padding: 0;">
      <div id="ymap" class="map"></div>
    </div>

    <div class="col-2" style="margin: 0; padding: 0;">
		<%= form_with url: result_path do |f| %>
            <%= f.label :latitude %>
            <%= f.text_field :latitude, id: :latitude %>
            <%= f.label :longitude %>
            <%= f.text_field :longitude, id: :longitude  %>
            <%= f.submit class: "btn btn-primary" %>
        <%end%>
        <button type="button" class="btn btn-primary" onclick="show_users(<%= User.all.count %>)">Show</button>
    </div>
    <div id="users" style="display: none;">
        <% User.all.each_with_index do |user, index|%>
            <p id="user-email-<%=index%>"><%= user.email %></p>
            <p id="user-latitude-<%=index%>"><%= user.latitude%></p>
            <p id="user-longitude-<%=index%>"><%= user.longitude%></p>
            <p id="user-updated_at-<%=index%>"><%= user.updated_at%></p>
            <p id="user-id-<%=index%>"><%= user.id%></p>
            <%unless user.avatar_url.nil?%>
                <p id="user-avatar-<%=index%>"><%= image_tag(user.avatar_url, size:"96x96")%></p>
            <%else%>
                <p id="user-avatar-<%=index%>"><%= image_tag("no-photo.png", size:"96x96")%></p>
            <%end%>
        <%end%>
    </div>
  </div>
