<body style="background-color: #eee;">
<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
            <%= image_tag(@user.avatar_thumbnail, size: "96x96" , style: "width: 150px;" ,
                            class: "rounded-circle img-fluid" ) %>
              <h5 class="my-3"><%= @user.full_name %></h5>
              <p class="text-muted mb-1"></p>
              <p class="text-muted mb-4"><%= t('maps.last_update', time: time_ago_in_words(current_user.updated_at)) %></p>
              <div class="d-flex justify-content-center mb-2">
              <% if current_user.mutual_following_with?(@user)%>
                <%= link_to "Chat", @user, class: 'btn btn-primary' %>
              <% else %>
                <%= render partial: "maps/followability_button", locals: { contact: @user }  %>
              <% end %> 
              </div>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
              <% @user.followers.each do |friend| %>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <p class="mb-0"> <%= link_to friend.full_name, "/user/show_user_profile/" + friend.id.to_s, id: "#{dom_id(friend)}" %></p>
                  <span class="badge bg-primary rounded-pill"><%= friend.followers.count %></span>
                </li>
              <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0"><%=t(:full_name)%></p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= @user.full_name %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0"><%=t(:email)%></p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= @user.email %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0"><%=t(:since)%></p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= time_ago_in_words(@user.created_at) %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0"><%=t(:location)%></p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= Geocoder.search([@user.latitude.to_f, @user.longitude.to_f]).first.address %></p>
                </div>
              </div>
            </div>
          </div>
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4"><span class="text-primary font-italic me-1"><%= t('maps.action') %></span></p>
                  <div class="d-flex flex-row-reverse">
                      <%= link_to 'Back', url_for(:back), class: "p-2 btn btn-primary active", style: "margin: 0 0 0 30px;" %>
                      <% if current_user.mutual_following_with?(@user)%>  
                      <%= turbo_stream_from @user %>
                      <div id="<%= dom_id(@user) %>">
                        <%= render partial: "maps/followability_button", locals: { contact: @user }  %>
                      </div>
                      <% end %>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </section>
</body>
