<body style="background-color: #eee;">
<section style="background-color: #eee;">
    <div class="container py-5">

      <div class="row">
        <div class="col-lg-4">
          <div class="card mb-4">
            <div class="card-body text-center">
            <%= image_tag(current_user.avatar_thumbnail, size: "96x96" , style: "width: 150px;" ,
                            class: "rounded-circle img-fluid" ) %>
              <h5 class="my-3"><%= @user.full_name %></h5>
              <p class="text-muted mb-1"></p>
              <p class="text-muted mb-4">last time updated <%= time_ago_in_words(@user.updated_at) %> ago</p>
              <div class="d-flex justify-content-center mb-2">
                <%= link_to "Edit profile", user_edit_path, class: 'btn btn-primary' %> 
              </div>
            </div>
          </div>
          <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
              <ul class="list-group list-group-flush rounded-3">
              <% current_user.followers.each do |friend| %>
                <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                  <p class="mb-0"> <%= link_to friend.full_name, "/user/show_user_profile/" + friend.id.to_s%></p>
                  <span class="badge bg-primary rounded-pill"><%= friend.followers.count %></span>

                </li>
              <% end %>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= @user.full_name %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= @user.email %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Since</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= time_ago_in_words(@user.created_at) %></p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Location</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0"><%= Geocoder.search([@user.latitude.to_f, @user.longitude.to_f]).first.address %></p>
                </div>
              </div>
            </div>
          </div>
              <div class="card mb-4 mb-md-0">
                <div class="card-body">
                  <p class="mb-4"><span class="text-primary font-italic me-1">Friends requests</span>
                  </p>
                  <% if current_user.follow_requests.count == 0 %>
                  <p class="mb-1" style="font-size: .77rem;">You haven't got any friends request</p>
                  <div class="progress rounded" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  <% else %>
                  <div class="row">
                    <% current_user.follow_requests.each do |request| %>
                    <div class="col-9">
                      <%= request.followerable.email %> wants to follow you
                    </div>
                    <div class="col-1">
                      <%= button_to "Accept", accept_path(request.followerable), class: 'btn btn-primary btn-sm' %>
                    </div>
                    <div class="col-1">
                      <%= button_to "Decline", decline_path(request.followerable), class: 'btn btn-danger btn-sm'  %>
                    </div>
                    <% end %>
                  <% end %>
                  </div>
                </div>
              </div>
        </div>
      </div>
    </div>
  </section>
</body>
