<p><strong>email</strong> <%= @user.email %></p>
<p><strong>created at</strong> <%= @user.created_at %></p>
<p><strong>updated at</strong> <%= @user.updated_at %></p>
<% unless @user.avatar_url.nil?%>
    <%= image_tag(@user.avatar_url, size: "96x96") %>
<%else%>
    <%= image_tag("no-photo.png", size:"96x96") %>
<% end %>
<% current_user.follow_requests.each do |request| %>
        <%= request.followerable.email %> wants to follow you
        <%= button_to "Accept", accept_path(request.followerable) %>
        <%= button_to "Decline", decline_path(request.followerable) %>
    <% end %>
    <hr />
<% current_user.followers.each do |user| %>
        <%= link_to user.email, show_user_profile_path(user)  %> is following you
        <%= button_to "Unfollow", unfollow_path(user) %>
<% end %>
<div class="price">
<div class="row align-items-end">
    <div class="col">
    <%= button_to "Вернуться назад", maps_path,
        :class => "btn btn-primary btn-lg active", :method => :get %>
    </div>
 </div>
</div>
