<p><%= t(:hello) %> <%= @resource.email %>!</p>

<p><%=t(:link_to_you_password)%></p>

<p><%= link_to t(:change_my_password), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%=t(:ignore_if_you_did_not_request)%></p>
